@require 'moteghayer'
button
	overflow hidden
	cursor pointer
	white-space nowrap
	position relative
	display inline-block
	outline none
	color #fff
	text-decoration none
	font-weight 400
	text-shadow 0 0 1px rgba(255,255,255,0.3)
	font-size 1.35em
	z-index 1
	&::after
		content ""
		position absolute
		z-index -1
		padding 0.85em 0.75em
		display block
		transition all 0.35s
	&:hover
		&::after
			left 0
			right 0
			top 0
			bottom 0
			transition all 0.35s

.i-sabz
	background-color sabz(1)
	border 0.15rem solid lighten(sabz(1), 10%)
	overflow hidden
	&:hover
		color lighten(sabz(0.8), 70%)
	&::after
		background-color darken(sabz(0.8), 40%)

.i-ghahve
	background-color ghahvei(1)
	border 0.15rem solid lighten(ghahvei(1), 10%)
	overflow hidden
	&:hover
		color lighten(ghahvei(0.8), 70%)
	&::after
		background-color lighten(ghahvei(0.8), 20%)

.i-alt
	background-image url('../tasavir/DSVG/iconalt.svg')
	background-position center center
	background-size 100% 100%

.i-gerd
	border-radius 50%
	width 6rem
	height 6rem
	// padding 1rem 1.6rem
	&::after
		border-radius 50%
		left -50%
		right -50%
		top -50%
		bottom -50%
		transform scale(0, 0)
	&:hover
		&::after
			transform scale(1, 1)
			transition all 0.3s ease-out

.i-round
	padding 0.2rem 0.4rem
	border-radius 0.6rem
	&::after
		top 0
		bottom 0
		left 100%
		right -100%
