@require 'moteghayer'
#scrollToTop
  position fixed
  width 2.85rem
  height 2.85rem
  left 3rem
  bottom 2.5rem
  background-color rgba(0,0,0,0.5)
  display none
  z-index 55
  border-radius 0.6rem
  cursor pointer
  border 0.15rem solid rgba(24, 24, 24, 0.29)
  &:hover
    background-color lighten(rang, 30%)
    .i-balla
      padding-bottom 1rem
      font-size 2.2rem
  &:active
    background-color darken(rang, 30%)
  .i-balla
    font-size 1.8rem
    color white
    align(both)
    transition all 0.20s
