@require 'moteghayer'
.menu
  // direction rtl
  font-family 'WYekan'
  background url('../tasavir/paper.png') repeat
  .mine-lafaf-80
    position relative
    height 12rem
    .LogoArm2
      align(both)
  nav
    display flex
    flex-direction column
    justify-content center
    font-size 1.2em
    width 100%
    position absolute
    z-index 99
    transition all 0.35s
    .menu_item
      height 3em
      line-height 3em
      .i
        background darken(abi(1), 40%)
        display block
        position absolute
        right 0
        height 100%
        line-height inherit
        width 3em
        text-align center
        transition all 0.35s
    a
      text-decoration none
      position relative
      display block
      height 100%
      background abi(1)
      color white
      z-index: 2
      span
        display block
        margin-right 3.6em
        width auto
        transition margin-right 0.5s ease
    a::before
      content: ""
      background darken(abi(1), 40%)
      position absolute
      z-index -1
      top 0
      bottom 0
      left 100%
      right -100%
      transition all 0.35s
    a:hover::before
      left 0
      right 0
      top 0
      bottom 0
      transition all 0.35s
    a:hover
      .i
        font-size 1.25em
        width 3.6em
        transition all 0.35s
      span
        margin-right 4.8em
    div
      border-bottom 0.15em solid lighten(abi(1), 80%)
      &:last-child
        border-bottom none

.btn-menu
  align(vertical)
  right 2rem
  z-index 3
  width 5.5rem
  overflow hidden
  font-size 1.2rem
  span
    position absolute
    opacity 0
    padding 0.2rem 1rem 0.2rem 0.3rem
    line-height 0.9rem
    right 2rem
    top 0.7rem
    color white
    width 3rem
    height 1.6rem
    border-top-left-radius 0.4rem
    border-bottom-left-radius 0.4rem
    background-color firoze(1)
  &:hover
    span
      opacity 1
      animation fadeInRight 800ms
