rang = #336ca6
teyfNarenji()
	linear-gradient(180deg, rgba(242, 156, 85, arguments) 0%, rgba(237, 189, 65, arguments) 100%)
teyfSabz()
	linear-gradient(180deg, rgba(60, 131, 128, arguments) 0%, rgba(11, 19, 51, arguments) 100%)
rangRGB()
	rgba(51, 108, 166, arguments)
sabz()
	rgba(70, 137, 102, arguments)
zard()
	rgba(255, 240, 165, arguments)
bezh()
	rgba(255, 176, 59, arguments)
ghahvei()
	rgba(182, 73, 38, arguments)
ghermez()
	rgba(142, 40, 0, arguments)
