@require 'moteghayer'
::-webkit-scrollbar
  width 8px

::-webkit-scrollbar-track
  background lighten(ghahvei(1), 50%)

::-webkit-scrollbar-thumb
  background ghahvei(1)
  border-radius 3rem
