@require 'moteghayer'
body
	direction rtl
	font-family 'WYekan'
// snap-content
// 	background-color lighten(bezh(1), 80%)
// 	outline-style solid
// 	outline-width 0.2rem
// 	outline-color lighten(rangRGB(0.6), 30%)
// 	box-shadow 0 0 3rem darken(rang, 60%)
// 	font-family 'WYekan'
// 	overflow hidden
// 	z-index 99


h1,h2,h3,h4,p,a
	margin 0

.direction
	// direction rtl
	// position static
	// height 100%
	// width 100%
	background url('../tasavir/tweed.png') repeat
	color lighten(bezh(1), 35%)

.lafaf
	min-height 45rem
	padding-top 7rem

.mine-lafaf
	position relative

.mine-lafaf-80
	center(80%, 2rem)
