@font-face {
  font-family: 'WBardia';
  src: url("../fonts/font-farsi/BardiyaWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WIranian';
  src: url("../fonts/font-farsi/IranianSerifWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WMitra';
  src: url("../fonts/font-farsi/MitraWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'WMitra';
    src: url("../fonts/font-farsi/MitraWeb-Regular1.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  font-family: 'WMitra';
  src: url("../fonts/font-farsi/MitraWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WRoya';
  src: url("../fonts/font-farsi/RoyaWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTabassom';
  src: url("../fonts/font-farsi/WebTabassom.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTitr';
  src: url("../fonts/font-farsi/TitrWeb.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WTitrNor';
  src: url("../fonts/font-farsi/TitrWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTitrTGE';
  src: url("../fonts/font-farsi/TitrTGE-Web.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WYekan';
  src: url("../fonts/font-farsi/YekanWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WYekan';
  src: url("../fonts/font-farsi/YekanWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WTraffic';
  src: url("../fonts/font-farsi/TrafficWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNasim';
  src: url("../fonts/font-farsi/NasimWeb.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WKoodak';
  src: url("../fonts/font-farsi/KoodakWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WJoude';
  src: url("../fonts/font-farsi/JoudeWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNazanin';
  src: url("../fonts/font-farsi/NazaninWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNazanin';
  src: url("../fonts/font-farsi/NazaninWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WAmer';
  src: url("../fonts/font-farsi/AmerWeb-Regular.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
