button {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
  z-index: 1;
}
button::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.i-sabz {
  background-color: #468966;
  border: 0.15rem solid #509d75;
  overflow: hidden;
}
.i-sabz:hover {
  color: rgba(195,224,209,0.8);
}
.i-sabz::after {
  background-color: rgba(42,82,61,0.8);
}
.i-ghahve {
  background-color: #b64926;
  border: 0.15rem solid #ce532b;
  overflow: hidden;
}
.i-ghahve:hover {
  color: rgba(240,197,183,0.8);
}
.i-ghahve::after {
  background-color: rgba(215,100,63,0.8);
}
.i-alt {
  background-image: url("../tasavir/DSVG/iconalt.svg");
  background-position: center center;
  background-size: 100% 100%;
}
.i-gerd {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.i-gerd::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.i-gerd:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.i-round {
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;
}
.i-round::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
