#scrollToTop {
  position: fixed;
  width: 2.85rem;
  height: 2.85rem;
  left: 3rem;
  bottom: 2.5rem;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 55;
  border-radius: 0.6rem;
  cursor: pointer;
  border: 0.15rem solid rgba(24,24,24,0.29);
}
#scrollToTop:hover {
  background-color: #6298cf;
}
#scrollToTop:hover .i-balla {
  padding-bottom: 1rem;
  font-size: 2.2rem;
}
#scrollToTop:active {
  background-color: #244c74;
}
#scrollToTop .i-balla {
  font-size: 1.8rem;
  color: #fff;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
