::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #998ba2;
}
::-webkit-scrollbar-thumb {
  background: #2f2933;
  border-radius: 3rem;
}
* {
  box-sizing: border-box;
}
aside {
  position: relative;
  left: 100%;
  *zoom: 1;
  float: right;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-right: 0%;
  margin-left: 0%;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
section.in-view aside {
  position: relative;
  left: 66.66666666666666%;
  position: fixed;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}
section.in-view article {
  overflow: hidden;
  *zoom: 1;
  float: right;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-right: 0%;
  margin-left: 0%;
  position: relative;
  left: -33.33333333333333%;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
section.in-view article:before,
section.in-view article:after {
  content: '';
  display: table;
}
section.in-view article:after {
  clear: both;
}
section.in-view .overlay {
  display: block;
  z-index: 4;
}
section.in-view .sarbarg.sticky {
  right: 36%;
}
.overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
@font-face {
  font-family: 'WBardia';
  src: url("../fonts/font-farsi/BardiyaWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WIranian';
  src: url("../fonts/font-farsi/IranianSerifWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WMitra';
  src: url("../fonts/font-farsi/MitraWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'WMitra';
    src: url("../fonts/font-farsi/MitraWeb-Regular1.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  font-family: 'WMitra';
  src: url("../fonts/font-farsi/MitraWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WRoya';
  src: url("../fonts/font-farsi/RoyaWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTabassom';
  src: url("../fonts/font-farsi/WebTabassom.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTitr';
  src: url("../fonts/font-farsi/TitrWeb.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WTitrNor';
  src: url("../fonts/font-farsi/TitrWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WTitrTGE';
  src: url("../fonts/font-farsi/TitrTGE-Web.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WYekan';
  src: url("../fonts/font-farsi/YekanWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WYekan';
  src: url("../fonts/font-farsi/YekanWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WTraffic';
  src: url("../fonts/font-farsi/TrafficWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNasim';
  src: url("../fonts/font-farsi/NasimWeb.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WKoodak';
  src: url("../fonts/font-farsi/KoodakWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WJoude';
  src: url("../fonts/font-farsi/JoudeWeb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNazanin';
  src: url("../fonts/font-farsi/NazaninWeb-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WNazanin';
  src: url("../fonts/font-farsi/NazaninWeb-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WAmer';
  src: url("../fonts/font-farsi/AmerWeb-Regular.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot@45691662");
  src: url("../fonts/fontello/fontello.eot@45691662#iefix") format('embedded-opentype'), url("../fonts/fontello/fontello.woff@45691662") format('woff'), url("../fonts/fontello/fontello.ttf@45691662") format('truetype'), url("../fonts/fontello/fontello.svg@45691662#fontello") format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120% */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
}
.icon-stackoverflow:before {
  content: '\e800';
}
.icon-pagelines:before {
  content: '\e801';
}
.icon-weibo:before {
  content: '\e802';
}
.icon-youtube-play:before {
  content: '\e803';
}
.icon-youtube:before {
  content: '\e804';
}
.icon-bitcoin:before {
  content: '\e805';
}
.icon-foursquare:before {
  content: '\e806';
}
.icon-gittip:before {
  content: '\e807';
}
.icon-maxcdn:before {
  content: '\e809';
}
.icon-vimeo-squared:before {
  content: '\e80a';
}
.icon-stackexchange:before {
  content: '\e80b';
}
.icon-xing:before {
  content: '\e80c';
}
.icon-bitbucket:before {
  content: '\e80d';
}
.icon-flash:before {
  content: '\e80e';
}
.icon-moon:before {
  content: '\e80f';
}
.icon-flight:before {
  content: '\e810';
}
.icon-paper-plane:before {
  content: '\e811';
}
.icon-leaf:before {
  content: '\e812';
}
.icon-lifebuoy:before {
  content: '\e813';
}
.icon-mouse:before {
  content: '\e814';
}
.icon-briefcase:before {
  content: '\e815';
}
.icon-suitcase:before {
  content: '\e816';
}
.icon-dot:before {
  content: '\e817';
}
.icon-flow-cascade:before {
  content: '\e818';
/* '' */
}
.icon-trello:before {
  content: '\e819';
/* '' */
}
.icon-brush:before {
  content: '\e81a';
/* '' */
}
.icon-magnet:before {
  content: '\e81b';
/* '' */
}
.icon-infinity:before {
  content: '\e81c';
/* '' */
}
.icon-yelp:before {
  content: '\e81d';
/* '' */
}
.icon-chart-pie:before {
  content: '\e81e';
/* '' */
}
.icon-chart-line:before {
  content: '\e81f';
/* '' */
}
.icon-chart-bar:before {
  content: '\e820';
/* '' */
}
.icon-tape:before {
  content: '\e822';
/* '' */
}
.icon-graduation-cap-1:before {
  content: '\e823';
/* '' */
}
.icon-ticket:before {
  content: '\e825';
/* '' */
}
.icon-water:before {
  content: '\e826';
/* '' */
}
.icon-droplet:before {
  content: '\e827';
/* '' */
}
.icon-air:before {
  content: '\e828';
/* '' */
}
.icon-credit-card:before {
  content: '\e829';
/* '' */
}
.icon-floppy:before {
  content: '\e82a';
/* '' */
}
.icon-clipboard:before {
  content: '\e82b';
/* '' */
}
.icon-megaphone:before {
  content: '\e82c';
/* '' */
}
.icon-database:before {
  content: '\e82d';
/* '' */
}
.icon-drive:before {
  content: '\e82e';
/* '' */
}
.icon-bucket:before {
  content: '\e82f';
/* '' */
}
.icon-thermometer:before {
  content: '\e830';
/* '' */
}
.icon-key-1:before {
  content: '\e831';
/* '' */
}
.icon-rocket:before {
  content: '\e837';
/* '' */
}
.icon-gauge:before {
  content: '\e838';
/* '' */
}
.icon-traffic-cone:before {
  content: '\e839';
/* '' */
}
.icon-github:before {
  content: '\e845';
/* '' */
}
.icon-flickr:before {
  content: '\e847';
/* '' */
}
.icon-vimeo:before {
  content: '\e849';
/* '' */
}
.icon-twitter:before {
  content: '\e84b';
/* '' */
}
.icon-facebook:before {
  content: '\e84d';
/* '' */
}
.icon-facebook-squared:before {
  content: '\e84f';
/* '' */
}
.icon-gplus:before {
  content: '\e850';
/* '' */
}
.icon-pinterest:before {
  content: '\e852';
/* '' */
}
.icon-tumblr:before {
  content: '\e854';
/* '' */
}
.icon-linkedin:before {
  content: '\e856';
/* '' */
}
.icon-dribbble:before {
  content: '\e858';
/* '' */
}
.icon-stumbleupon:before {
  content: '\e85a';
/* '' */
}
.icon-lastfm:before {
  content: '\e85c';
/* '' */
}
.icon-rdio:before {
  content: '\e85e';
/* '' */
}
.icon-spotify:before {
  content: '\e860';
/* '' */
}
.icon-spotify-circled:before {
  content: '\e861';
/* '' */
}
.icon-qq:before {
  content: '\e862';
/* '' */
}
.icon-instagram:before {
  content: '\e863';
/* '' */
}
.icon-dropbox:before {
  content: '\e864';
/* '' */
}
.icon-evernote:before {
  content: '\e865';
/* '' */
}
.icon-flattr:before {
  content: '\e866';
/* '' */
}
.icon-skype:before {
  content: '\e867';
/* '' */
}
.icon-renren:before {
  content: '\e869';
/* '' */
}
.icon-sina-weibo:before {
  content: '\e86a';
/* '' */
}
.icon-paypal:before {
  content: '\e86b';
/* '' */
}
.icon-picasa:before {
  content: '\e86c';
/* '' */
}
.icon-soundcloud:before {
  content: '\e86d';
/* '' */
}
.icon-mixi:before {
  content: '\e86e';
/* '' */
}
.icon-behance:before {
  content: '\e86f';
/* '' */
}
.icon-google-circles:before {
  content: '\e870';
/* '' */
}
.icon-vkontakte:before {
  content: '\e871';
/* '' */
}
.icon-smashing:before {
  content: '\e872';
/* '' */
}
.icon-sweden:before {
  content: '\e873';
/* '' */
}
.icon-logo-db:before {
  content: '\e875';
/* '' */
}
.icon-comment:before {
  content: '\e876';
/* '' */
}
.icon-bookmark:before {
  content: '\e877';
/* '' */
}
.icon-trash:before {
  content: '\e878';
/* '' */
}
.icon-flag:before {
  content: '\e879';
/* '' */
}
.icon-thumbs-up:before {
  content: '\e87a';
/* '' */
}
.icon-thumbs-down:before {
  content: '\e87b';
/* '' */
}
.icon-download:before {
  content: '\e87c';
/* '' */
}
.icon-upload:before {
  content: '\e87d';
/* '' */
}
.icon-upload-cloud:before {
  content: '\e87e';
/* '' */
}
.icon-reply:before {
  content: '\e87f';
/* '' */
}
.icon-reply-all:before {
  content: '\e880';
/* '' */
}
.icon-forward:before {
  content: '\e881';
/* '' */
}
.icon-quote:before {
  content: '\e882';
/* '' */
}
.icon-code:before {
  content: '\e883';
/* '' */
}
.icon-export:before {
  content: '\e884';
/* '' */
}
.icon-pencil:before {
  content: '\e885';
/* '' */
}
.icon-feather:before {
  content: '\e886';
/* '' */
}
.icon-print:before {
  content: '\e887';
/* '' */
}
.icon-retweet:before {
  content: '\e888';
/* '' */
}
.icon-sound-1:before {
  content: '\e889';
/* '' */
}
.icon-chat:before {
  content: '\e88a';
/* '' */
}
.icon-bell:before {
  content: '\e88b';
/* '' */
}
.icon-attention:before {
  content: '\e88c';
/* '' */
}
.icon-volume-1:before {
  content: '\e88d';
/* '' */
}
.icon-vcard:before {
  content: '\e88e';
/* '' */
}
.icon-address:before {
  content: '\e88f';
/* '' */
}
.icon-search-1:before {
  content: '\e890';
/* '' */
}
.icon-location:before {
  content: '\e891';
/* '' */
}
.icon-map:before {
  content: '\e892';
/* '' */
}
.icon-direction:before {
  content: '\e893';
/* '' */
}
.icon-compass:before {
  content: '\e894';
/* '' */
}
.icon-docs-1:before {
  content: '\e898';
/* '' */
}
.icon-doc-text:before {
  content: '\e89a';
/* '' */
}
.icon-newspaper:before {
  content: '\e89c';
/* '' */
}
.icon-book-open:before {
  content: '\e89d';
/* '' */
}
.icon-book:before {
  content: '\e89e';
/* '' */
}
.icon-folder:before {
  content: '\e89f';
/* '' */
}
.icon-archive:before {
  content: '\e8a0';
/* '' */
}
.icon-rss:before {
  content: '\e8a2';
/* '' */
}
.icon-phone:before {
  content: '\e8a3';
/* '' */
}
.icon-cog:before {
  content: '\e8a4';
/* '' */
}
.icon-tools:before {
  content: '\e8a5';
/* '' */
}
.icon-share:before {
  content: '\e8a6';
/* '' */
}
.icon-shareable:before {
  content: '\e8a7';
/* '' */
}
.icon-basket:before {
  content: '\e8a8';
/* '' */
}
.icon-calendar:before {
  content: '\e8aa';
/* '' */
}
.icon-login:before {
  content: '\e8ab';
/* '' */
}
.icon-logout:before {
  content: '\e8ac';
/* '' */
}
.icon-mic:before {
  content: '\e8ad';
/* '' */
}
.icon-clock:before {
  content: '\e8b1';
/* '' */
}
.icon-hourglass:before {
  content: '\e8b2';
/* '' */
}
.icon-lamp:before {
  content: '\e8b3';
/* '' */
}
.icon-block:before {
  content: '\e8b7';
/* '' */
}
.icon-resize-full:before {
  content: '\e8b8';
/* '' */
}
.icon-resize-small:before {
  content: '\e8b9';
/* '' */
}
.icon-popup:before {
  content: '\e8ba';
/* '' */
}
.icon-publish:before {
  content: '\e8bb';
/* '' */
}
.icon-window:before {
  content: '\e8bc';
/* '' */
}
.icon-arrow-combo:before {
  content: '\e8bd';
/* '' */
}
.icon-down-open:before {
  content: '\e8c2';
/* '' */
}
.icon-left-open:before {
  content: '\e8c3';
/* '' */
}
.icon-right-open:before {
  content: '\e8c4';
/* '' */
}
.icon-up-open:before {
  content: '\e8c5';
/* '' */
}
.icon-down-open-mini:before {
  content: '\e8c6';
/* '' */
}
.icon-left-open-mini:before {
  content: '\e8c7';
/* '' */
}
.icon-right-open-mini:before {
  content: '\e8c8';
/* '' */
}
.icon-up-open-mini:before {
  content: '\e8c9';
/* '' */
}
.icon-down-open-big:before {
  content: '\e8ca';
/* '' */
}
.icon-left-open-big:before {
  content: '\e8cb';
/* '' */
}
.icon-right-open-big:before {
  content: '\e8cc';
/* '' */
}
.icon-up-open-big:before {
  content: '\e8cd';
/* '' */
}
.icon-down-dir:before {
  content: '\e8d2';
/* '' */
}
.icon-left-dir:before {
  content: '\e8d3';
/* '' */
}
.icon-right-dir:before {
  content: '\e8d4';
/* '' */
}
.icon-up-dir:before {
  content: '\e8d5';
/* '' */
}
.icon-ccw:before {
  content: '\e8de';
/* '' */
}
.icon-cw:before {
  content: '\e8df';
/* '' */
}
.icon-arrows-ccw:before {
  content: '\e8e0';
/* '' */
}
.icon-level-down:before {
  content: '\e8e1';
/* '' */
}
.icon-level-up:before {
  content: '\e8e2';
/* '' */
}
.icon-shuffle:before {
  content: '\e8e3';
/* '' */
}
.icon-loop:before {
  content: '\e8e4';
/* '' */
}
.icon-switch:before {
  content: '\e8e5';
/* '' */
}
.icon-play:before {
  content: '\e8e6';
/* '' */
}
.icon-stop:before {
  content: '\e8e7';
/* '' */
}
.icon-pause:before {
  content: '\e8e8';
/* '' */
}
.icon-record:before {
  content: '\e8e9';
/* '' */
}
.icon-to-end:before {
  content: '\e8ea';
/* '' */
}
.icon-to-start:before {
  content: '\e8eb';
/* '' */
}
.icon-fast-forward:before {
  content: '\e8ec';
/* '' */
}
.icon-fast-backward:before {
  content: '\e8ed';
/* '' */
}
.icon-target:before {
  content: '\e8f2';
/* '' */
}
.icon-palette:before {
  content: '\e8f3';
/* '' */
}
.icon-list:before {
  content: '\e8f4';
/* '' */
}
.icon-signal:before {
  content: '\e8f6';
/* '' */
}
.icon-trophy:before {
  content: '\e8f7';
/* '' */
}
.icon-battery:before {
  content: '\e8f8';
/* '' */
}
.icon-back-in-time:before {
  content: '\e8f9';
/* '' */
}
.icon-monitor:before {
  content: '\e8fa';
/* '' */
}
.icon-mobile:before {
  content: '\e8fb';
/* '' */
}
.icon-network:before {
  content: '\e8fc';
/* '' */
}
.icon-cd-1:before {
  content: '\e8fd';
/* '' */
}
.icon-inbox:before {
  content: '\e8fe';
/* '' */
}
.icon-install:before {
  content: '\e8ff';
/* '' */
}
.icon-globe:before {
  content: '\e900';
/* '' */
}
.icon-cloud:before {
  content: '\e901';
/* '' */
}
.icon-cloud-thunder:before {
  content: '\e902';
/* '' */
}
.icon-note-beamed:before {
  content: '\e903';
/* '' */
}
.icon-search:before {
  content: '\e905';
/* '' */
}
.icon-flashlight:before {
  content: '\e906';
/* '' */
}
.icon-mail:before {
  content: '\e907';
/* '' */
}
.icon-heart:before {
  content: '\e908';
/* '' */
}
.icon-heart-empty:before {
  content: '\e909';
/* '' */
}
.icon-star:before {
  content: '\e90a';
/* '' */
}
.icon-star-empty:before {
  content: '\e90b';
/* '' */
}
.icon-user:before {
  content: '\e90c';
/* '' */
}
.icon-users:before {
  content: '\e90d';
/* '' */
}
.icon-user-add:before {
  content: '\e90e';
/* '' */
}
.icon-video:before {
  content: '\e90f';
/* '' */
}
.icon-picture:before {
  content: '\e910';
/* '' */
}
.icon-camera:before {
  content: '\e911';
/* '' */
}
.icon-layout:before {
  content: '\e912';
/* '' */
}
.icon-menu:before {
  content: '\e913';
/* '' */
}
.icon-check:before {
  content: '\e914';
/* '' */
}
.icon-cancel:before {
  content: '\e915';
/* '' */
}
.icon-plus:before {
  content: '\e918';
/* '' */
}
.icon-minus:before {
  content: '\e91b';
/* '' */
}
.icon-help:before {
  content: '\e91e';
/* '' */
}
.icon-info:before {
  content: '\e920';
/* '' */
}
.icon-back:before {
  content: '\e922';
/* '' */
}
.icon-home:before {
  content: '\e923';
/* '' */
}
.icon-link:before {
  content: '\e924';
/* '' */
}
.icon-attach:before {
  content: '\e925';
/* '' */
}
.icon-lock:before {
  content: '\e926';
/* '' */
}
.icon-lock-open:before {
  content: '\e927';
/* '' */
}
.icon-eye:before {
  content: '\e928';
/* '' */
}
.icon-tag:before {
  content: '\e929';
/* '' */
}
.icon-keyboard:before {
  content: '\e92a';
/* '' */
}
button {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
  z-index: 1;
}
button::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.i-sabz {
  background-color: #97eb20;
  border: 0.15rem solid #bdf271;
  overflow: hidden;
}
.i-sabz:hover {
  color: rgba(189,242,113,0.7);
}
.i-sabz::after {
  background-color: rgba(122,195,18,0.8);
}
.i-firoz {
  background-color: #1da493;
  border: 0.15rem solid #29d9c2;
  overflow: hidden;
}
.i-firoz:hover {
  color: #bdf271;
}
.i-firoz::after {
  background-color: rgba(23,131,117,0.8);
}
.i-sorme {
  background-color: #2f2933;
  border: 0.15rem solid #443c4a;
  overflow: hidden;
}
.i-sorme:hover {
  color: rgba(194,185,199,0.8);
}
.i-sorme::after {
  background-color: rgba(90,78,97,0.8);
}
.i-alt {
  background-image: url("../tasavir/DSVG/iconalt.svg");
  background-position: center center;
  background-size: 100% 100%;
}
.i-gerd {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.i-gerd::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.i-gerd:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.i-round {
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;
}
.i-round::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
body {
  direction: rtl;
  font-family: 'WYekan';
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}
.direction {
  background: url("../tasavir/tweed.png") repeat;
  color: #ffffc5;
}
.lafaf {
  min-height: 45rem;
  padding-top: 7rem;
}
.mine-lafaf {
  position: relative;
}
.mine-lafaf-80 {
  *zoom: 1;
  width: auto;
  max-width: 80%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mine-lafaf-80:before,
.mine-lafaf-80:after {
  content: '';
  display: table;
}
.mine-lafaf-80:after {
  clear: both;
}
ui-view.ng-enter,
[ui-view].ng-enter {
  -webkit-animation: fadeInDown 850ms;
          animation: fadeInDown 850ms;
}
.icone.ng-enter {
  -webkit-animation: fadeInDown 850ms;
          animation: fadeInDown 850ms;
}
.ng-enter-stagger,
.ng-leave-stagger {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-duration: 0;
          animation-duration: 0;
}
.menu {
  font-family: 'WYekan';
  background: url("../tasavir/paper.png") repeat;
}
.menu .mine-lafaf-80 {
  position: relative;
  height: 12rem;
}
.menu .mine-lafaf-80 .LogoArm2 {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menu nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  width: 100%;
  position: absolute;
  z-index: 99;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav .menu_item {
  height: 3em;
  line-height: 3em;
}
.menu nav .menu_item .i {
  background: #016164;
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  line-height: inherit;
  width: 3em;
  text-align: center;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a {
  text-decoration: none;
  position: relative;
  display: block;
  height: 100%;
  background: #01a2a6;
  color: #fff;
  z-index: 2;
}
.menu nav a span {
  display: block;
  margin-right: 3.6em;
  width: auto;
  -webkit-transition: margin-right 0.5s ease;
          transition: margin-right 0.5s ease;
}
.menu nav a::before {
  content: "";
  background: #016164;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover .i {
  font-size: 1.25em;
  width: 3.6em;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover span {
  margin-right: 4.8em;
}
.menu nav div {
  border-bottom: 0.15em solid #bbfdff;
}
.menu nav div:last-child {
  border-bottom: none;
}
.btn-menu {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2rem;
  z-index: 3;
  width: 5.5rem;
  overflow: hidden;
  font-size: 1.2rem;
}
.btn-menu span {
  position: absolute;
  opacity: 0;
  padding: 0.2rem 1rem 0.2rem 0.3rem;
  line-height: 0.9rem;
  right: 2rem;
  top: 0.7rem;
  color: #fff;
  width: 3rem;
  height: 1.6rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  background-color: #29d9c2;
}
.btn-menu:hover span {
  opacity: 1;
  -webkit-animation: fadeInRight 800ms;
          animation: fadeInRight 800ms;
}
.sarbarg {
  width: 100%;
  position: fixed;
  z-index: 4;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
.sarbarg .paein {
  line-height: 2.3rem;
  font-size: 1rem;
  height: 5.2rem;
  position: relative;
  background-color: #efecf0;
  border-bottom: 0.18rem solid #7e7972;
  border-top: 0.3rem solid #151217;
  color: #fff;
  text-shadow: 0 1px 15px #000;
  box-shadow: 0 1px 15px rgba(0,0,0,0.8);
  color: #fff;
}
.sarbarg .paein .LogoArm {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80%;
}
.sarbarg .paein .LogoNeveshte {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 1rem;
  left: 0;
}
.sarbarg .balla {
  width: 100%;
  height: 1.9rem;
  background-color: #2f2933;
}
.sarbarg.sticky {
  width: 8rem;
  right: 2rem;
  top: 2rem;
}
.sarbarg.sticky .balla {
  display: none;
}
.sarbarg.sticky .paein {
  z-index: 1500;
  top: 0;
  font-size: 1.2rem;
  height: 4.5rem;
  padding-top: 0;
  background-color: rgba(230,227,233,0.7);
  border-radius: 0.4rem;
}
.sarbarg.sticky .paein .LogoArm {
  right: -1rem;
}
.sarbarg.sticky .paein .LogoNeveshte {
  display: none;
}
.sarbarg.sticky .paein .btn-menu {
  right: 4.5rem;
}
.sarbarg.sticky .paein a {
  font-size: 3.5rem;
}
.iconha .icone {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.iconha .icone:first-child {
  margin-right: auto;
}
.iconha .icone:last-child {
  margin-left: auto;
}
@media (min-width: 40rem) {
  .iconha .icone {
    *zoom: 1;
    float: right;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-right: 0%;
    margin-left: 3%;
  }
  .iconha .icone:before,
  .iconha .icone:after {
    content: '';
    display: table;
  }
  .iconha .icone:after {
    clear: both;
  }
  .iconha .icone:nth-child(4n) {
    margin-left: 0%;
    float: left;
  }
  .iconha .icone:nth-child(4n+1) {
    clear: both;
  }
}
.iconha .icone button {
  font-size: 2.3rem;
}
.iconha .icone:hover span {
  opacity: 1;
  -webkit-animation: fadeInRight 800ms;
          animation: fadeInRight 800ms;
}
.iconha .icone span {
  position: absolute;
  opacity: 0;
  padding: 0.2rem 0.8rem 0.2rem 0.3rem;
  right: 5.4rem;
  top: 2rem;
  color: #fff;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  background-color: #136e62;
}
.slider {
  position: relative;
  height: 20rem;
  overflow: hidden;
}
@media (min-width: 40rem) {
  .slider {
    height: 30rem;
  }
}
@media (min-width: 54rem) {
  .slider {
    height: 40rem;
  }
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 15px #999;
}
.slider .slide img {
  width: 100%;
}
.slider .arrows {
  direction: rtl;
  position: absolute;
  bottom: 3rem;
  right: 2.2rem;
  z-index: 3;
  opacity: 0.5;
  width: 8rem;
  overflow: hidden;
}
.slider .arrows span {
  position: absolute;
  opacity: 0;
  padding: 0.2rem 0.8rem 0.2rem 0.3rem;
  line-height: 1.5rem;
  right: 2rem;
  top: 0.7rem;
  color: #fff;
  width: 6rem;
  height: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #1da493;
}
.slider .arrows:hover {
  opacity: 1;
}
.slider .arrows:hover span {
  opacity: 1;
  -webkit-animation: fadeInRight 800ms;
          animation: fadeInRight 800ms;
}
.slider h1 {
  position: absolute;
  top: 7rem;
  left: 2rem;
  z-index: 3;
  padding: 0 0.8rem 0.4rem 0.8rem;
  background-color: rgba(1,162,166,0.7);
  color: #fff;
  border-right: 0.3rem solid #016164;
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  box-shadow: 0px 0px 5px #001011;
}
.slider p {
  position: absolute;
  top: 12rem;
  left: 2rem;
  z-index: 3;
  padding: 0.2rem 0.5rem;
  background-color: rgba(1,162,166,0.7);
  color: #fff;
  border-right: 0.3rem solid #016164;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  box-shadow: 0px 0px 5px #001011;
}
.slide.ng-hide-add,
.slide.ng-hide-remove {
  display: block !important;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  z-index: 1;
  -webkit-animation: slideInDown 950ms;
          animation: slideInDown 950ms;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  -webkit-animation: slideOutUp 1200ms;
          animation: slideOutUp 1200ms;
  z-index: 0;
}
.slide.ng-hide-add.ng-hide-add-active h1,
.slide.ng-hide-remove h1 {
  -webkit-animation: fadeInUp 1500ms;
          animation: fadeInUp 1500ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.slide.ng-hide-add.ng-hide-add-active p,
.slide.ng-hide-remove p {
  -webkit-animation: fadeInUp 1850ms;
          animation: fadeInUp 1850ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.chap {
  direction: ltr;
  position: relative;
}
.zir-slide {
  position: relative;
  background-image: url("../tasavir/footer.png");
  background-color: #28232b;
  height: 12rem;
  border-bottom: 0.2rem dashed #2f2933;
  border-top: 0.2rem dashed #2f2933;
  display: block;
}
.zir-slide section .nvsh {
  *zoom: 1;
  float: right;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-right: 0%;
  margin-left: 3%;
}
.zir-slide section .nvsh:before,
.zir-slide section .nvsh:after {
  content: '';
  display: table;
}
.zir-slide section .nvsh:after {
  clear: both;
}
.zir-slide section .nvsh:last-child {
  margin-left: 0%;
}
.zir-slide section a {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.zir-slide .al-v {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.grid {
  position: relative;
  list-style: none;
  text-align: center;
}
.grid figure {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  background: #29d9c2;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000;
}
.grid figure:first-child {
  margin-right: auto;
}
.grid figure:last-child {
  margin-left: auto;
}
@media (min-width: 40rem) {
  .grid figure {
    *zoom: 1;
    float: right;
    clear: none;
    text-align: inherit;
    width: 31.999999999999996%;
    margin-right: 0%;
    margin-left: 2%;
  }
  .grid figure:before,
  .grid figure:after {
    content: '';
    display: table;
  }
  .grid figure:after {
    clear: both;
  }
  .grid figure:nth-child(3n) {
    margin-left: 0%;
    float: left;
  }
  .grid figure:nth-child(3n+1) {
    clear: both;
  }
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure h2 {
  font-weight: 300;
  margin: 0;
}
.grid figure p {
  margin: 0;
  font-size: 68.5%;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid .effect-milo {
  background: #2e5d5a;
}
.grid .effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1.5);
          transform: translate3d(0, 0, 0) scale(1.5);
}
.grid .effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.grid .effect-milo:hover h2 {
  left: 2rem;
}
.grid .effect-milo img {
  max-width: none;
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(30px, 0, 0) scale(1.12);
          transform: translate3d(30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.grid .effect-milo h2 {
  position: absolute;
  font-size: 1.5rem;
  margin: 0;
  line-height: 2rem;
  left: 1rem;
  bottom: 1.3rem;
  text-shadow: 0 0 3px #2f2933, 0 0 5px #18151a;
  border-radius: 0.8rem;
  padding: 0 0.4rem;
  -webkit-transition: left 0.35s;
          transition: left 0.35s;
}
.grid .effect-milo p {
  padding: 0 0.8rem 1rem 0;
  width: 70%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(2rem, 0, 0);
          transform: translate3d(2rem, 0, 0);
}
.portfolio-item {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 6rem 0;
  position: relative;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.portfolio-item:first-child {
  margin-right: auto;
}
.portfolio-item:last-child {
  margin-left: auto;
}
@media (min-width: 40rem) {
  .portfolio-item {
    *zoom: 1;
    float: right;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-right: 0%;
    margin-left: 3%;
  }
  .portfolio-item:before,
  .portfolio-item:after {
    content: '';
    display: table;
  }
  .portfolio-item:after {
    clear: both;
  }
  .portfolio-item:last-child {
    margin-left: 0%;
  }
}
.portfolio-item .portfolio-bg {
  *zoom: 1;
  width: auto;
  max-width: ;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 18rem;
  height: 25rem;
  font-size: 8rem;
  color: rgba(35,197,176,0.4);
  box-shadow: 0px 0px 10px #000;
  border: 3px dashed rgba(23,131,117,0.8);
  border-radius: 1rem;
  background-color: rgba(41,217,194,0.5);
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}
.portfolio-item .portfolio-bg:before,
.portfolio-item .portfolio-bg:after {
  content: '';
  display: table;
}
.portfolio-item .portfolio-bg:after {
  clear: both;
}
.portfolio-item .portfolio-description {
  background-color: rgba(90,78,97,0.8);
  color: #fff;
  font-size: 20px;
  padding: 0.5rem;
  width: 16rem;
  position: absolute;
  top: 13rem;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  border: 2px dotted #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #000;
  -webkit-transform: rotateY(-30deg) translateZ(60px);
          transform: rotateY(-30deg) translateZ(60px);
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}
.portfolio-item .portfolio-description h4 {
  text-align: center;
  margin: 0.3rem 0;
}
.portfolio-item .portfolio-description p {
  margin: 0.3rem 0;
}
.portfolio-item:hover .portfolio-bg {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.portfolio-item:hover .portfolio-description {
  -webkit-transform: rotateY(0deg) translateZ(0px);
          transform: rotateY(0deg) translateZ(0px);
}
#scrollToTop {
  position: fixed;
  width: 2.85rem;
  height: 2.85rem;
  left: 3rem;
  bottom: 2.5rem;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 55;
  border-radius: 0.6rem;
  cursor: pointer;
  border: 0.15rem solid rgba(24,24,24,0.29);
}
#scrollToTop:hover {
  background-color: #6f6179;
}
#scrollToTop:hover .i-balla {
  padding-bottom: 1rem;
  font-size: 2.2rem;
}
#scrollToTop:active {
  background-color: #211d24;
}
#scrollToTop .i-balla {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.pasafe {
  background-image: url("../tasavir/footer.png");
  background-color: #2f2933;
  height: 13rem;
  width: 100%;
  color: #ffffc1;
}
