.menu {
  direction: rtl;
  font-family: 'WYekan';
  background-color: #79a7d6;
}
.menu nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  width: 100%;
  position: absolute;
  z-index: 99;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav .menu_item {
  height: 3em;
  line-height: 3em;
}
.menu nav .menu_item .i {
  background: #1f4164;
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  line-height: inherit;
  width: 3em;
  text-align: center;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a {
  text-decoration: none;
  position: relative;
  display: block;
  height: 100%;
  background: #336ca6;
  color: #fff;
  z-index: 2;
}
.menu nav a span {
  display: block;
  margin-right: 3.6em;
  width: auto;
  -webkit-transition: margin-right 0.5s ease;
          transition: margin-right 0.5s ease;
}
.menu nav a::before {
  content: "";
  background: #1f4164;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover .i {
  font-size: 1.25em;
  width: 3.6em;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
}
.menu nav a:hover span {
  margin-right: 4.8em;
}
.menu nav div {
  border-bottom: 0.15em solid rgba(210,226,241,0.4);
}
.menu nav div:last-child {
  border-bottom: none;
}
.dokmen {
  border: solid #fff 0.19rem;
  background-color: rgba(51,108,166,0.7);
  box-shadow: 0 0 8px #0f2032;
  text-shadow: 2px 2px 2px #0f2032;
  color: #fff;
  border-radius: 0.6rem;
  padding: 0;
  margin: 0.4rem 2rem 0 0;
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.dokmen:hover {
  width: 5.5rem;
  background-color: #336ca6;
}
.dokmen:hover .rel .t-menu {
  opacity: 1;
  z-index: 550;
}
.dokmen:hover .rel .icm {
  font-size: 2rem;
  top: -1.1rem;
}
.dokmen:hover .rel .icl {
  font-size: 2.4rem;
  right: 3.25rem;
  top: -1.2rem;
}
.dokmen .rel {
  position: relative;
}
.dokmen .rel .t-menu {
  position: absolute;
  right: 1.9rem;
  top: -1.4rem;
  font-size: 1.6rem;
  opacity: 0;
  z-index: 500;
  color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.dokmen .rel .icm {
  position: absolute;
  right: 0.1rem;
  top: -1.05rem;
  z-index: 699;
  color: #fff;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.dokmen .rel .icl {
  position: absolute;
  right: 1.1rem;
  top: -1.05rem;
  z-index: 699;
  color: #fff;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.btn-menu {
  position: absolute;
  bottom: 3rem;
  right: 2.2rem;
  z-index: 3;
  opacity: 0.5;
  width: 7.6rem;
  overflow: hidden;
}
.btn-menu span {
  position: absolute;
  opacity: 0;
  padding: 0.2rem 0.8rem 0.2rem 0.3rem;
  right: 2rem;
  top: 0.5rem;
  color: #fff;
  width: 4.45rem;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  background-color: #b64926;
}
.btn-menu:hover {
  opacity: 1;
}
.btn-menu:hover span {
  opacity: 1;
  -webkit-animation: fadeInRight 800ms;
          animation: fadeInRight 800ms;
}
