.iconha .icone {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.iconha .icone button {
  font-size: 2.3rem;
}
.iconha .icone:hover span {
  opacity: 1;
  -webkit-animation: fadeInRight 800ms;
          animation: fadeInRight 800ms;
}
.iconha .icone span {
  position: absolute;
  opacity: 0;
  padding: 0.2rem 0.8rem 0.2rem 0.3rem;
  right: 5.4rem;
  top: 2rem;
  color: #fff;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  background-color: #468966;
}
