.flexslider-container {
  direction: ltr;
  margin: 0;
}
.flexslider {
  border: none;
}
.flex-caption {
  padding: 1rem;
  position: absolute;
  width: 12rem;
  height: 3rem;
  margin: 0;
  top: 15rem;
  right: 4rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
