snap-content {
  background-color: #ffefd8;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-color: rgba(98,152,207,0.6);
  box-shadow: 0 0 3rem #142b42;
  font-family: 'WYekan';
  z-index: 99;
}
snap-content div.lafaf {
  min-height: 45rem;
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}
.direction {
  direction: rtl;
  position: static;
  height: 100%;
  width: 100%;
}
.lafaf {
  padding-top: 8rem;
}
.mine-lafaf {
  position: relative;
}
aside {
  text-align: center;
}
aside nav {
  margin-bottom: 1rem;
}
aside nav a {
  display: block;
  background: #ff5959;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #ff0d0d;
}
img {
  max-width: 100%;
}
.post {
  border: 1px solid #b3b3b3;
  padding: 1rem;
  margin: 1rem;
}
.logo > img {
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
}
