snap-content {
  background-color: #ffefd8;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-color: rgba(98,152,207,0.6);
  box-shadow: 0 0 3rem #142b42;
  font-family: 'WYekan';
  z-index: 99;
}
snap-content div.lafaf {
  min-height: 45rem;
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}
.direction {
  direction: rtl;
  position: static;
  height: 100%;
  width: 100%;
}
.lafaf {
  padding-top: 7.4rem;
}
.mine-lafaf {
  position: relative;
}
